* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

h1 {text-align:center;
		position:relative;
		top:15px;
		
    } 
h2 {text-align:center;
		border: red solid 3px;
		border-bottom-color:black;
		position:relative;
	}

h4 {
		font-size:15px;
		text-align:center;
		padding:4px 0;
        margin: 2px;
	}
h5 {
		font-size:16px;
		font-family:sans-serif;
		text-align:center;
		padding:8px 0;
		color:#f36223;
        margin: 3;
        

}

