    #trailers {
        position: relative;
        list-style: none;
        margin: 10px 0 5px 0;
        padding: 0;
        display: flex;

	}
	
	.trailer-container {
		position:relative;
		left:0;
        margin: 2px 0 0 0;
	}
	.trailer-container ul {
		list-style:none;
		user-select:none;
		display:flex;
		overflow-y:center;

	}
	.trailer-container ul {
		padding:30px 0;
	}
	.trailer-container ul li {
		padding:0 10px;
		display:flex;
		flex-direction:column;
		align-items:center;
		justify-content:center;
	}
	.trailer-container ul li .pp img {
		padding: 3px;
		background: currentColor;
		border-radius: 50%;
		width: 100%;
		height: 100%;
	}
	.trailer-container ul li a {
		color:white;
		transition:0.8s;
		text-decoration:none;
    }
    .dizi-ad {
        font-weight: bolder;
        font-size:15px;
		text-align:center;
		padding:4px 0;
        margin: 2px;
	}
	.trailer-container ul li a:hover {
		color:black;
	}
	.trailer-container ul li:first-child {
		padding-left:10px;
	}
	.trailer-container ul li:last-child {
		padding-right:10px;
	}
	.trailer-container ul li .pp{
		width:75px;
		height:75px;
		border-radius:50%;
		padding:1px;
		position:relative;
	}
	.trailer-container ul li.trailer .pp{
		padding:2px;
		background:linear-gradient(45deg,#FFAB00 0%,#FFAB00 25%,#dc2743 50%,#FFAB00 75%,#dc2743 100%);
		width:100px;
		height:100px;
	}
	.trailer-container ul li .pp img {
		padding:4px;
		background:currentColor;
		border-radius:50%;
		width:100%;
		height:100%;
	}
	.trailer-container ul li span {
		color:rgba(255,255,255,.85);
		font-weight:300;
		font-size:14px;
		text-align:center;
		max-width:85px;
		overflow:hidden;
		text-overflow:ellipsis;
		margin-top:5px;
		
	}

	.trailer-bar {
		position:relative;
		font-weight: 600;
		font-size: 20px;
		margin-bottom: 5px;
        padding: 3px;
		color: #fff;
		letter-spacing: -.41px;
	}
	#trailers li a .yayında {
		background: #dc9d00;
		color: #000;
		font-size: 11px;
		padding: 5px;
		font-weight: 600;
		white-space: nowrap;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		line-height: 1;
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translate(-50%,0);
		border: 3px solid #30333A;
		
	}
	#trailers li .yayınlandı {
		color:gray;
	}
	.final {
		display:block;
		color:white;
		border:2px solid #960018;
		background-color:#960018;
		border-radius:15%;
        margin: 5px;
	}
	.sezon {
		display:block;
        position: relative;
		color:white;
		border:2px solid #8fbc8f;
		background-color:#8fbc8f;
		border-radius:15%;
		text-align:center;
        margin: 5px;